[Desktop Entry]
Categories=Network;
Comment=Skype Internet Telephony
Exec=AppRun %U
Icon=icon
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
Name=Skype for Linux
StartupNotify=true
StartupWMClass=Skype
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
X-MultipleArgs=false
X-KDE-Protocols=skype
